.filters {
	height: 70px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	position: relative;
}

button {
	height: 48px;
	font-size: 18px;
	background-color: #ff5a5f;
	color: #fff;
	width: 20%;
	border-radius: 4px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	cursor: pointer;
}

button:hover {
	opacity: .9;
}
